.body,
.body-small {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    margin: 30px;
}

.table {
    display: flex;
    justify-content: center;
}

.table-small {
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}

.body td,
.body tr {
    border: 1px solid var(--bordergray);
    padding: 10px 10px;
    font-size: 20px;
}

.body tr :nth-child(1) {
    width: 400px;
}

.body-small tr :nth-child(1) {
    width: 300px;
}

.body-small h3 {
    font-size: 16px;
    font-weight: 600;
}

.body-small p {
    font-size: 14px;
    font-weight: 100;
}

.body-small tr {
    padding-bottom: 20px;
}

.body tr :nth-child(2) {
    width: 300px;
}

.body-small .star {
    width: 150px;
    text-align: end;
    color: var(--mainred);
    font-size: 30px;
}

.body tr :nth-child(3) {
    width: 300px;
}

.body tr :nth-child(4) {
    width: 180px;
    text-align: center;
}

.body .star {
    color: var(--mainred);
    font-size: 25px;
}

.body tr {
    width: 100%;
}

.title,
.title-small {
    text-align: center;
    margin-top: 20px;
}

.title p,
.title-small p {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}